.mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
  margin-top: 4px;
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-flex {
    padding: 0 0.75em;
    border-radius: 4px;
    margin: 1px;
    border: none;
    background-color: rgb(0 0 255 / 5%);
  }

  .mat-form-field-infix {
    border-top: 0;
    padding: 0.75em 0;
  }
}

.mat-focused .mat-form-field-wrapper .mat-form-field-flex {
  border: 1px solid #0d6efd;
  margin: 0;
}
